<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- page 별 header 및 css 적용 -->
<th:block th:fragment="setContent(content)">
    <head>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
<header class="header">
    <div class="header_wrapper">
        <a href="/article/list"><img class="header_logo" src="/images/logo.png" alt="logo" width="180px" height="auto"></a>
        <div class="header_center">
            <form class="header_form" action="/article/list" method="get" >
                <input class="header__input--text" type="text" placeholder="검색" name="keyword" />
                <button class="header__input--button" type="submit">
                    <span class="material-symbols-outlined">search</span>
                </button>
            </form>
        </div>
        <div class="header_end">
            <div class="header-username">
                <h1 class="initial" th:if="${session.username!=null}">Y</h1>
                <h1 th:text="${session.username}" class="header_end_userName"></h1>
            </div>
            <h1 th:if="${session.username==null}" class="header_end_login"><a href="/user/login">로그인</a></h1>
            <h1 th:if="${session.username==null}" class="header_end_signup"><a href="/user/join">회원가입</a></h1>
            <h1 th:if="${session.username!=null}" class="header_end_myPage">
                <a href="/user/mypage">
                    <span class="material-symbols-outlined">person</span>
                </a>
            </h1>
            <h1 th:if="${session.username!=null}" class="header_end_addProductPage">
                <a class="addProduct" href="/user/addProduct">
                    <span class="material-symbols-outlined">assignment_add</span>
                    상품 등록
                </a>
            </h1>
        </div>
    </div>

</header>
<th:block th:replace="${content}"></th:block>
</th:block>

<script>
    if(location.href.indexOf('local:8080/user/addProduct') > -1){ // location.href 로 현재 페이지 주소를 가져옵니다.
        document.getElementById('header_end_addProductPage').style.display = 'none'; //매칭된 페이지에 한해 특정 요소에 스타일을 부여합니다.
    }
</script>