<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- page 별 header 및 css 적용 -->
<th:block th:fragment="setContent(content)">
    <head>
        <link rel="stylesheet" href="/css/header.css">
    </head>
<header class="header">
    <div class="header_wrapper">
        <a href="/article/list"><img class="header_logo" src="/images/logo.png" alt="logo" width="180px" height="auto"></a>
        <div class="header_center">
            <form class="header_form" action="/article/list" onsubmit="return false"></form>
            <input class="header__input--text" type="text" placeholder="검색" name="keyword">
            <input type="hidden" name="type" th:value="${articlePageRequestDTO.type}" />
            <button class="header__input--button" type="submit"><!--<img src="/img/headerbutton.png" alt="button" width="10px" height="10px">--></button>
        </div>
        <div class="header_end">
            <div class="header-username">
                <h1 class="initial" th:if="${session.username!=null}">Y</h1>
                <h1 th:text="${session.username}" class="header_end_userName"></h1>
            </div>
            <h1 th:if="${session.username==null}" class="header_end_login"><a href="/user/login">로그인</a></h1>
            <h1 th:if="${session.username==null}" class="header_end_signup"><a href="/user/join">회원가입</a></h1>
            <h1 th:if="${session.username!=null}" class="header_end_myPage">
                <a href="/user/mypage">
                    <span class="material-symbols-outlined">person</span>
                </a>
            </h1>
        </div>
    </div>
</header>
<th:block th:replace="${content}"></th:block>
</th:block>