<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/dalimbada.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,200,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/footer.css">
  <script defer src="/js/MajorList.js"></script>
  <script defer src="/js/productDate.js"></script>
  <script defer src="/js/productPrice.js"></script>
  <title>대림바다</title>
</head>
<body>

<div id="container">

<th:block th:replace="~{/article/header::setContent(~{this::content})}"></th:block>

  <th:block th:fragment="content"></th:block>

  <!--major sidebar-->
  <div class="major-list">
  </div>

  <!--product-list-->
  <div class="product-page">
    <div class="product-list">
<!--      <h1 th:if="${articlePageRequestDTO.type==null}" class=""></h1>-->
<!--      <h1 th:if="${articlePageRequestDTO.type!=null}" class="" th:text="${articlePageRequestDTO.type}"></h1>-->
      <th:block th:each="e : ${result.dtoList}">
          <div class="product">
            <a th:href="@{/article/read(id=${e.id})}" class="product-link">
            <img th:if="${e.filePath == ''}" src="/images/XL.jpeg" alt="product"/>
            <img th:unless="${e.filePath == ''}"
                 th:src="@{/image/display/} + ${e.filePath}"
                 alt="product" />
            <div class="data">
              <p th:text="${e.title}"></p>
              <p th:text="${e.username}"></p>
              <p th:text="${e.price}" class="product_price"></p>
              <p class='date' th:text="${e.regDate}"></p>
            </div>
            </a>
          </div>

      </th:block>
    </div>

    <div class="pagination">
      <span id="prev-page" class="material-symbols-outlined page" th:if="${result.prev}">
        <a th:href="@{/article/list(
                                        page = ${result.start -1},
                                        type = ${articlePageRequestDTO.type},
                                        keyword = ${articlePageRequestDTO.keyword}
                                        )}" tabindex="-1">chevron_left</a>
      </span>
      <span id="page-numbers" th:class="'page-item ' + ${result.page==page?'active':''}"  th:each="page:${result.pageList}">
        <a th:href="@{/article/list(
                                        page = ${page},
                                        type = ${articlePageRequestDTO.type},
                                        keyword = ${articlePageRequestDTO.keyword}
                                        )}">[[${page}]]</a>
      </span>
      <span id="next-page" class="material-symbols-outlined page" th:if="${result.next}">
        <a th:href="@{/article/list(
                                        page = ${result.end + 1},
                                        type = ${articlePageRequestDTO.type},
                                        keyword = ${articlePageRequestDTO.keyword}
                                        )}">chevron_right</a>
      </span>
    </div>
  </div>



</div>
<footer>
  <div class="footer_container">
    <div class="computer_logo">
      <img src="/images/computerLogo.png">
    </div>
    <div class="school">
      <p>대림대학교 컴퓨터정보학부 ICC 전공동아리</p>
      <p>대표자 : 장유빈</p>
      <p>위치 : 경기 안양시 동안구 임곡로 29 대림대학</p>
    </div>
    <div class="service">
      <h1>이용문의</h1>
      <h2>ywy040150@gmail.com</h2>
    </div>
  </div>
</footer>
</body>
</html>
<script  th:inline="javascript">
  /*<![CDATA[*/ /*]]>*/
  let dtoList = [[${result.dtoList}]]
  console.log(dtoList)


  const productElements = document.querySelectorAll(".product");
  const prevPageButton = document.getElementById("prev-page");
  const nextPageButton = document.getElementById("next-page");
  const pageNumberContainer = document.getElementById("page-numbers");

  let currentPage = 1;
  const itemsPerPage = 12;

  function showPage(pageNumber) {
    const startIndex = (pageNumber - 1) * itemsPerPage;
    const endIndex = startIndex + itemsPerPage;

    productElements.forEach((element, index) => {
      if (index >= startIndex && index < endIndex) {
        element.style.display = "block";
      } else {
        element.style.display = "none";
      }
    });
  }

  function updatePageNumbers() {
    const totalPages = Math.ceil(productElements.length / itemsPerPage);
    pageNumberContainer.innerHTML = "";

    for (let i = 1; i <= totalPages; i++) {
      const pageNumberButton = document.createElement("a");
      pageNumberButton.textContent = i;
      pageNumberButton.className = "page-number";
      pageNumberButton.href=`list?page=${i}`
      pageNumberButton.addEventListener("click", () => {


        showPage(currentPage);
        updatePageNumbers();
      });
      pageNumberContainer.appendChild(pageNumberButton);
    }
  }

  // 이전 페이지로 이동
  if(prevPageButton){
    prevPageButton.addEventListener("click", () => {
      if (currentPage > 1) {
        currentPage--;
        showPage(currentPage);
        updatePageNumbers();
      }
    });
  }

  // 다음 페이지로 이동
  if(nextPageButton){
    nextPageButton.addEventListener("click", () => {
      const totalPages = Math.ceil(productElements.length / itemsPerPage);
      if (currentPage < totalPages) {
        currentPage++;
        showPage(currentPage);
        updatePageNumbers();
      }
    });
  }

  // 페이지 초기화
  showPage(currentPage);
  updatePageNumbers();

  /*]]>*/
</script>


</body>
</html>