<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/information.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>대림바다</title>
</head>

<body>
<div id="container">
    <header class="header">
        <div class="header_wrapper">
            <h1 class="header_start">
                <a href="/"><img class="header_logo" src="/images/logo.png" alt="logo" width="180px"
                                 height="auto"></a>
            </h1>
            <div class="header_center">
                <form class="header_form" onsubmit="return false"></form>
                <input class="header__input--text" type="text" placeholder="검색">
                <button class="header__input--button" type="button"></button>
            </div>

            <div class="header_end">
                <h1 class="header_end_login"><a href="/user/login">로그인</a></h1>
                <h1 class="header_end_signup"><a href="/user/join">회원가입</a></h1>
                <h1 class="header_end_myPage"><a href="/user/mypage">마이페이지</a></h1>

            </div>
        </div>
    </header>
    <div class="bar">
        <div class="bar_wrapper">
            <div class="bar_menu">
                <label class="menu" for="menu">
                    <span class="material-symbols-outlined">more_vert</span>
                </label>
                <input id="menu" type="checkbox">
                <nav id="main_nav">
                    <ul>
                        <li><a href="">판매완료</a></li>
                        <li><a href="">수정</a></li>
                        <li><a href="">삭제</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="Ginformation">
        <div class="Ginformation_wrapper">
            <div class="Ginformation_item">
                <div class="Ginformation_top">
                    <div class="Ginformation_img">
                        <img src="./images/XL.jpeg" alt="">
                    </div>
                    <div class="Ginformation_info">
                        <div class="Ginformation_text">
                            <div class="userName">
                                <h1 class="initial">W</h1>
                                <h2>윤병현</h2>
                            </div>
                            <h3 class="Ginformation_text--title">혼자 공부하는 자바</h3>

                            <p class="Ginformation_text--pay">가격: 32,000원</p>
                            <div class="Ginformation_text--tp">
                                <span>거래위치</span>
                                <ul>1. 전산관 4층</ul>
                                <ul>2. 전산관 4층</ul>
                            </div>
                            <div class="Ginformation_text--tpday">
                                <span>거래날짜</span>
                                <ul>2023년 8월 21일</ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="Ginformation_dc">
                    <p>상품내용</p>
                    <div class="Ginformation_dc-text">
                        <p class="content">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
                            안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
                            안녕하세요ㅍ안녕하세요안녕하세요
                            안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
                            안녕하세요ㅍ안녕하세요안녕하세요
                            안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
                            안녕하세요ㅍ안녕하세요안녕하세요
                            안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
                            안녕하세요ㅍ안녕하세요안녕하세요
                            안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
                            안녕하세요ㅍ안녕하세요안녕하세요
                        </p>
                    </div>
                    <div class="dc-userName">
                        <h2 class="initial">Y</h2>
                        <h2>윤병현</h2>
                        <input type="text" placeholder="댓글 입력">
                        <button>입력</button>
                    </div>
                    <div class="user-comments">
                        <h1>댓글</h1>
                        <div class="comment">
                            <h2 class="initial">Y</h2>
                            <h2>윤병현</h2>
                            <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                        </div>
                        <div class="comment">
                            <h2 class="initial">Z</h2>
                            <h2>윤병현</h2>
                            <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>