<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/read.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>대림바다</title>
</head>

<body>

<div id="container">
    <header class="header">
        <div class="header_wrapper">
            <h1 class="header_start">
                <a href="/article/list"><img class="header_logo" src="/images/logo.png" alt="logo" width="180px" height="auto"></a>
            </h1>
            <div class="header_center">
                <form class="header_form" onsubmit="return false"></form>
                <input class="header__input--text" type="text" placeholder="검색">
                <button class="header__input--button" type="button"></button>
            </div>

            <div class="header_end">
                <h1 th:text="${session.username}" class="header_end_userName"></h1>
                <h1 th:if="${session.username==null}" class="header_end_login"><a href="/user/login">로그인</a></h1>
                <h1 th:if="${session.username==null}" class="header_end_signup"><a href="/user/join">회원가입</a></h1>
                <h1 th:if="${session.username!=null}" class="header_end_myPage">
                    <a href="/user/mypage">
                        <span class="material-symbols-outlined">person</span>
                    </a>
                </h1>
            </div>
        </div>
    </header>
    <div class="bar">
        <div class="bar_wrapper">
            <div class="bar_menu">
                <label class="menu" for="menu">
                    <span class="material-symbols-outlined">more_vert</span>
                </label>
                <input id="menu" type="checkbox">
                <nav id="main_nav">
                    <ul>
                        <li><a href="">판매완료</a></li>
                        <li><a href="">수정</a></li>
                        <li><a href="">삭제</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="Ginformation">
        <th:block th:each="e : ${articleDTO}">
            <div class="Ginformation_wrapper">
                <div class="Ginformation_item">
                    <div class="Ginformation_top">
                        <div class="Ginformation_img">
                            <img src="/images/XL.jpeg" alt="">
                        </div>
                        <div class="Ginformation_info">
                            <div class="Ginformation_text">
                                <div class="Ginformation_text--content">
                                    <h3 class="Ginformation_text--title" th:text="${e.title}"></h3>
                                    <div class="Ginformation_text--userData">
                                        <p class="Ginformation_text--pay" th:text="${e.price + '원'}"></p>
                                        <div class="userName">
                                            <h1 class="initial">W</h1>
                                            <h2 th:text="${e.username}"></h2>
                                        </div>
                                    </div>
                                    <p class="content-name">상품내용</p>
                                    <div class="Ginformation_dc-text">

                                        <p class="content" th:text="${e.content}"></p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="Ginformation_dc">

                        <div class="dc-userName">
                            <h2 class="initial">Y</h2>
                            <h2 th:text="${e.username}"></h2>
                            <input type="text" placeholder="댓글 입력">
                            <button>입력</button>
                        </div>
                        <div class="user-comments">
                            <h1>댓글</h1>
                            <div class="comment">
                                <h2 class="initial">Y</h2>
                                <h2>윤병현</h2>
                                <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                            </div>
                            <div class="comment">
                                <h2 class="initial">Z</h2>
                                <h2>윤병현</h2>
                                <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                            </div>
                            <div class="comment">
                                <h2 class="initial">Z</h2>
                                <h2>윤병현</h2>
                                <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                            </div>
                            <div class="comment">
                                <h2 class="initial">Z</h2>
                                <h2>윤병현</h2>
                                <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                            </div>
                            <div class="comment">
                                <h2 class="initial">Z</h2>
                                <h2>윤병현</h2>
                                <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                            </div>
                            <div class="comment">
                                <h2 class="initial">Z</h2>
                                <h2>윤병현</h2>
                                <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                            </div>
                            <div class="comment">
                                <h2 class="initial">Z</h2>
                                <h2>윤병현</h2>
                                <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                            </div>
                            <div class="comment">
                                <h2 class="initial">Z</h2>
                                <h2>윤병현</h2>
                                <p>안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </th:block>
    </div>
</div>
</body>

</html>