<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/dalimbada.ico">
    <link rel="stylesheet" href="/css/read.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,200" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,200" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,200" />
    <title>대림바다</title>
</head>

<body>

<div id="container">
    <th:block th:replace="~{/article/header::setContent(~{this::content})}"></th:block>

    <th:block th:fragment="content"></th:block>
  
    <div class="bar">
        <div class="bar_wrapper">
            <div class="bar_menu">
                <label class="menu" for="menu">
                    <span class="material-symbols-outlined">more_vert</span>
                </label>
                <input id="menu" type="checkbox">
                <nav id="main_nav">
                    <ul>
                        <li>
                            <a  class="soldoutdtn" href="">
                                판매완료
                            <span class="material-symbols-outlined">check_circle</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                수정
                            <span class="material-symbols-outlined">contract_edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="" style="color: red">
                                삭제
                            <span class="material-symbols-outlined">delete</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="Ginformation">
        <th:block th:each="e : ${articleDTO}">
            <div class="Ginformation_wrapper">
                <div class="Ginformation_item">
                    <div class="Ginformation_top">
                        <div class="Ginformation_img">
                            <img th:if="${imageDTO.filePath == ''}" src="/images/XL.jpeg" alt="product"/>
                            <img th:unless="${imageDTO.filePath == ''}"
                                 th:src="@{/image/display/} + ${imageDTO.filePath}"
                                 alt="product" />
                        </div>
                        <div class="Ginformation_info">
                            <div class="Ginformation_text">
                                <div class="Ginformation_text--content">
                                    <h3 class="Ginformation_text--title" th:text="${e.title}"></h3>
                                    <div class="Ginformation_text--userData">
                                        <p class="Ginformation_text--pay" th:text="${e.price + '원'}"></p>
                                        <div class="userName">
                                            <h1 class="initial">W</h1>
                                            <h2 th:text="${e.username}"></h2>
                                        </div>
                                    </div>
                                    <p class="content-name">상품내용</p>
                                    <div class="Ginformation_dc-text">

                                        <p class="content" th:text="${e.content}"></p>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="Ginformation_dc">

                        <div class="dc-userName">
                            <h2 class="initial">Y</h2>
                            <h2 th:text="${e.username}"></h2>
                            <form action="" method="post">
                                <input type="hidden" name="username" th:value="${session.username}">
                                <input type="text" placeholder="댓글 입력">
                                <button>입력</button>
                            </form>

                        </div>

                    </div>

                </div>
            </div>
        </th:block>
    </div>
</div>
</body>

</html>