<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/join.css">
  <title>Document</title>
</head>
<body>
  <div class="join">
    <a href="."><img class="logo" src="../images/Logo.png"></a>
      <form action="#" accept-charset="#" method="#">
        <div>
          <label for="e-mail">이메일</label>
          <input id="e-mail" type="text"  required>
          <button>인증</button>
        </div>
        <label for="pass">비밀번호</label>
        <input id="pass" type="password" required>

        <label for="repass">비밀번호 확인</label>
        <input id="repass" type="password"  required>

        <label for="name">이름</label>
        <input id="name" type="text" required>

        <label for="nicName">닉이름</label>
        <input id="nicName" type="text" required>
        
        <button class="joinButton" type="submit">회원가입</button>
      </form>
  </div>
</body>
</html>