<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" href="/css/join.css">
    <link rel="icon" href="/images/dalimbada.ico">
  <title>회원가입</title>
</head>
<body>


  <div class="join">
    <a href="/article/list"><img class="logo" src="/images/Logo.png"></a>
      <form action="/user/signup" method="post">
        <div>
<!--          이메일 인증 알아보기-->
          <label for="email">이메일
            <input id="email" name="email" type="text"  required>
          </label>
<!--          <button>인증</button>-->
        </div>
        <label for="password">비밀번호
            <input id="password" name="password" type="password" required>
        </label>


        <label for="username">이름
            <input id="username" name="username" type="text" required>
        </label>


        <button class="joinButton" type="submit">회원가입</button>
      </form>
  </div>
</body>
</html>