<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Document</title>
</head>
<body>
  <div class="login">
    <a href="#">
      <img class="logo" src="/images/Logo.png">
    </a>
    <form action="#" accept-charset="#" method="#">
      <input type="text" placeholder="이메일을 입력해 주세요" required>
      <input type="password" placeholder="비밀번호를 입력해 주세요" required>
      <button  type="submit">로그인</button>
      <button class="joinButton">회원가입</button>
    </form>
  </div>
</body>
</html>