<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" href="/css/login.css">
  <link rel="icon" href="/images/dalimbada.ico">
  <title>로그인</title>
</head>
<body>
  <div class="login">
    <a href="/article/list">
      <img class="logo" src="/images/Logo.png">
    </a>
    <form action="/user/signin" method="post">
      <input type="text" name="email" placeholder="이메일을 입력해 주세요" required>
      <input type="password" name="password" placeholder="비밀번호를 입력해 주세요" required>
      <button  type="submit">로그인</button>
      <a class="joinButton" href="/user/join">회원가입</a>
    </form>

  </div>
</body>
</html>