<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/mypage.css">
  <script defer src="/js/productDate.js"></script>
  <title>Document</title>
</head>
<body>


<div id="container">
<th:block th:replace="~{/article/header::setContent(~{this::content})}"></th:block>
<th:block th:fragment="content"></th:block>
<div class="myPage">

  <div class="userName">
    <h1 class="initial">Y</h1>
    <h1 th:text="${session.username}"></h1>
  </div>

  <div class="userData">
    <h1>개인정보</h1>
    <div class="data">
      <p>이메일</p>
      <p th:text="${email}"></p>
    </div>
  </div>

    <div class="upLoadProduct">
      <div class="title">
        <h1>내가 올린 게시물</h1>

      </div>
      <div class="product-list">
          <th:block th:each="e : ${result.dtoList}">
            <div class="product">
              <a th:href="@{/article/read(id=${e.id})}" class="product-link">
                <img src="/images/XL.jpeg" alt="product">
                <div class="productData">
                  <p th:text="${e.title}"></p>
                  <p th:text="${e.username}"></p>
                  <p th:text="${e.price}"></p>
                  <p class='date' th:text="${e.regDate}"></p>
                </div>
              </a>
            </div>
          </th:block>
      </div>
    </div>
</div>
</div>
</div>
</body>
</html>