#container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}


/* product */

.product{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 80px auto;

}

.top {
  border-bottom: 3px solid black;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 10px ;
}
.top h1 {
  font-size: 30px;
}
.top h2{
  color: red;
  padding-left: 25px;
}


.productData{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.filebox .upload-name {
  display: inline-block;
  height: 40px;
  padding: 0 5px 0 10px;
  vertical-align: middle;
  border: 1px solid gray;
  width: 60%;
  color: #999999;
}
.filebox{
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 10px;
  align-items: center;
  margin: 20px;
  height: 300px;
}
#image_container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 160px;
  height: 180px;
  background-color: rgba(0,0,0,0.1);
  align-items: center;
  border: 1px solid gray;
  margin-left: 30px;
}
#image_container p{
  text-align: center;
}
#image_container img{
  width: 160px;
  height: 180px;
  position: absolute;
}
.filebox div{
  width: 71%;

}

.filebox h2{
  font-size: 20px;
}
.filebox a {
  color: red;
}

.filebox label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #999999;
  cursor: pointer;
  height: 20px;
  margin-left: 10px;
  line-height: 20px;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.data{
  width: 80%;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  display: flex;
  justify-content:space-between;
}
.data a {
  color: red;
}
.data input{
  width: 65%;
  height: 30px;
  border: 1px solid #8f8f8f;
}
.data textarea{
  border: 1px solid #8f8f8f;
}
.submitButton{
  margin:  20px auto;
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #96B6C5;
  transition: all 0.5s ease-out ;
}

.submitButton:hover{
  background-color: #4795b9;
}
.button_wrapper{
  display: flex;
  justify-content: center;
}
#formdata-Btn{
  background-color: #999999;
  border: 1px solid #999999;
  height: 50px;
  width: 250px;
  color: white;
  font-weight: bold;
}

#classificationSelect{
  border: none;
}
#majorSelect{
  border: none;
}

@media ( max-width: 1800px ) {
  body {
    font-size: 15px;
  }
  .filebox .upload-name {
    width: 60%;

  }
  .data:last-of-type{
    flex-direction: column;
  }

  .data:last-of-type label{
    margin-bottom: 20px;
  }
}
@media ( max-width: 1440px ) {
  body {
    font-size: 15px;
  }

  .filebox .upload-name {
    width: 50%;

  }
  .data:last-of-type{
    flex-direction: column;
  }

  .data:last-of-type label{
    margin-bottom: 20px;
  }
}
@media ( max-width: 1100px ) {
  body {
    font-size: 10px;
  }

  .data, .filebox h2{
    font-size: 1.1rem;
  }

}