.header{
    position: fixed;
    top: 0;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
    z-index: 20;
    margin: 0 auto;

}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 16px;
}
.header_start{
    margin-left: 50px;
}
.header_center{
    width: 60%;
    display: flex;
    align-items: center;
}
.header_form{
    display: flex;
    max-width: 100%;
}
.header__input--text{
    width: calc(100% - 60px);
    height: 30px;
    padding: 0 6px;
    border: 1px solid #8f8f8f;
    border-radius: 40px;
}
.header__input--button{
    width: 55px;
    height: 40px;
    border: none;
    background-color: transparent;
}
.header_end{
    width: 13%;
    display: flex;
    justify-content: space-between;
}
.header-username{
    display: flex;
}
.header_end_userName{
    font-size: 1rem;
    line-height: 2rem;
}
.header-username .initial{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    background-color: #96B6C5 ;
    border-radius: 50%;
    font-size: 15px;
    margin: 0 5px 0 5px;
}
.header_end_login{
    max-width: 50%;
    font-size: 1rem;
}
.header_end_signup{
    max-width: 50%;
    font-size: 1rem;
}
.header_end_signup > a{
    text-decoration: none;
    color: black;
}
.header_end_login > a{
    text-decoration: none;
    color: black;
}
.header_end_myPage > a{
    text-decoration: none;
    color: black;
    display: block;
}
.header_end_myPage > a span{
    font-size: 2rem;
    display: block;
}