.header{
    position: fixed;
    top: 0;
    width: 70%;
    background-color: #fff;
    box-shadow: 0 0 3px #000;
    z-index: 20;
    margin: 0 auto;
}

.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 16px;

}
.logo{
    width: 20%;
}
.header_center{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_form{
    display: flex;
    max-width: 100%;
}
.header__input--text{
    width: 80%;
    height: 30px;
    padding: 0 6px;
    border: 3px solid #5858ad;
    border-radius: 40px;
}
.header__input--button{
    width: 55px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #5858ad;
}
.header_end{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.header-username{
    display: flex;
    align-items: center;
}
.header_end_userName{
    font-size: 1rem;
    line-height: 2rem;
}
.header-username .initial{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    background-color: #96B6C5 ;
    border-radius: 50%;
    font-size: 15px;
    margin: 0 5px 0 5px;
}
.header_end_login{
    max-width: 50%;
    font-size: 1rem;
}
.header_end_signup{
    max-width: 50%;
    font-size: 1rem;
}
.header_end_signup > a{
    text-decoration: none;
    color: black;
}
.header_end_login > a{
    text-decoration: none;
    color: black;
}

.myPageIcon{
    top: 70px;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: 100px;
    height: 35px;
    color: black;
    justify-content: space-around;
    font-size: 1rem;
}

.addProduct{
    right: 0;
    top: 70px;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: 100px;
    height: 35px;
    color: black;
    justify-content: space-around;
    font-size: 1rem;
}
.addProduct span{
    color: black;
}

@media screen and (max-width: 1440px){
    .header_end_userName{
        font-size: 0.8rem;
    }
    .myPageIcon{
       width: 80px;
        font-size: 0.8rem;
    }
    .addProduct{
        width: 80px;
        font-size: 0.8rem;
    }

}
@media screen and (max-width: 1050px){


    .header_wrapper{
        justify-content: center;
    }
    .header__input--text{
        display: none;
    }
    .header__input--button{
        display: none;
    }
}
