#container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
/* 해더 */

.header{
  position: fixed;
  top: 0;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 0 3px #000;
  z-index: 20;
  margin: 0 auto;

}
.header_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 16px;
}
.header_start{
  margin-left: 50px;
}
.header_center{
  width: 60%;
  display: flex;
  align-items: center;
}
.header_form{
  display: flex;
  max-width: 100%;
}
.header__input--text{
  width: calc(100% - 60px);
  height: 30px;
  padding: 0 6px;
  border: 1px solid #8f8f8f;
  border-radius: 40px;
}
.header__input--button{
  width: 55px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.header_end{
  width: 13%;
  display: flex;
  justify-content: space-between;
}
.header_end_userName{
  font-size: 1rem;
  line-height: 2rem;
}
.header_end_login{
  max-width: 50%;
  font-size: 1rem;
}
.header_end_signup{
  max-width: 50%;
  font-size: 1rem;
}
.header_end_signup > a{
  text-decoration: none;
  color: black;
}
.header_end_login > a{
  text-decoration: none;
  color: black;
}
.header_end_myPage > a{
  text-decoration: none;
  color: black;
  display: block;
}
.header_end_myPage > a span{
  font-size: 2rem;
  display: block;
}

/* 전공 사이드바 */
.major-list{
  width: 180px;
  position: relative;
  display: block;
  margin-top: 100px;
}
.major-list {
  margin-bottom: 30px;
}

.major-list .major-name{
  display: inline;
  width: 100px;
  font-size: 20px;
  margin: 0 20px 5px 5px;
  color: #11009E;

}
.major-list  button{
  display: inline;
  position: absolute;
  right: 0;
  background-color: #fff;
  border: none;
  cursor: pointer;

}

.major{
  max-height: 400px;
  transition: all 0.5s ease-out ;
}
.major_aTag{
  text-decoration: none;
}
.majors hr{
  border-bottom: 1.5px solid black;
}
.major.none{
  max-height: 10px;
  overflow: hidden;
}

.major-list div button.none {
  display: none;
}

.major-list div .major li{
  margin: 15px;
  cursor: pointer;
  font-size: 12px;
  color: black;
}

/* 상품리스트 */
.product-page{
  display: flex;
  flex-direction: column;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin-left: 150px;
  margin-top: 150px;
}

.product-link {
  text-decoration: none;
}

.product-list .product{
  width: 250px;
}

.product-list .product .data{
  width: 160px;
  position: relative;
  padding: 5px;
  color: black;
}

.product-list .product img{
  width: 160px;
  margin-bottom: 20px;
}

.product-list .product p {
  margin-bottom: 15px;
}

.product-list .product p:nth-child(2){
  font-size: 12px;
  color: #9d9d9d;
}


.product-list .product p:last-of-type {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #9d9d9d;
  font-size: 12px;
}

/* 상품 리스트 페이지 번호 버튼 */
.pagination{
  position: absolute;
  left: 45%;
  bottom: -100px;
  padding: 20px;
  display: flex;
}

.page-number:first-of-type{
  margin-left: 10px;
}

#page-numbers{
  padding-top: 16px;
  font-size: 20px;
  font-weight: bold;
}



.page-number{
  margin-right: 10px;
  cursor: pointer;
  border-right: 1px solid black;
  padding-right: 10px;

}

.page-number:last-of-type{
  border: none;
  padding-right: 0px;
}

.material-symbols-outlined.page{
  font-size: 50px;
}





.addProduct{
  position: absolute;
  right: 0;
  top: 70px;
  text-decoration: none;

}
.addProduct span{
  font-size: 50px;
  color: #11009E;
}

@media screen and (max-width: 1900px){
  .product-list{
    width: 48vw;
    margin-left: 8vw;
  }
  .product-list .product{
    width: 12vw;
  }
}
@media screen and (max-width: 1440px){
  .product-list{
    width: 47vw;
    margin-left: 6vw;
  }
  .product-list .product{
    width: 15vw;
  }
  .header_end_login > a{
    font-size: 0.8rem;
  }
  .header_end_signup > a{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1100px){
  .product-list{
    width: 47vw;
  }
  .product-list .product{
    width: 21vw;
  }
  .header_end_login > a{
    font-size: 0.8rem;
  }
  .header_end_signup > a{
    font-size: 0.8rem;
  }
}