#container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}


/*상품 판매완료 및 삭제 수정 css */
.bar{
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: center;
}
.bar_wrapper{
    display: block;
    width: 70%;
    margin-left: 90px;
    border-bottom: 3px solid black;
}
.bar_menu{
    float: right;
    margin-top: 24px;
    font-size: 2rem;
    width: 13%;

}
#main_nav{
    display: flex;
    width: 6%;
    text-align: center;
}
#main_nav > ul{
    width: 100%;
}
#main_nav > ul > li > a {
    text-decoration-line: none;
    color: black;
    font-size: 1rem;
}
label.menu{
    position: relative;
    float: right;
}
input.menu{
    display: none;
}
input#menu{
    display: none;
}
nav#main_nav{
    display: none;
    position: absolute;
    margin-top: 40px;
    background-color: rgba( 0, 0, 0, 0.5 );
}
input#menu:checked + nav#main_nav{
    display: block;
}
/*상품 사진 및 정보 css */

.Ginformation{
    margin: 0 auto;

    display: flex;
}

.Ginformation_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    height: 700px;
}
.Ginformation_item{
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 20%;
}
.Ginformation_top {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    margin-top: 4%;

}
.Ginformation_img {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.Ginformation_img > img {
    width: 60%;
}
.Ginformation_info {
    width: 50%;
}

.Ginformation_dc {
    width: 100%;
    height: 40%;
    margin: 0 auto;
}
.userName, .dc-userName{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.userName .initial, .dc-userName .initial{
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 30px;
    background-color: #96B6C5 ;
    border-radius: 50%;
    font-size: 15px;
    margin: 0 10px 0 10px;
}

.userName h2 ,.dc-userName h2{
    font-size: 1.2rem;
}

.Ginformation_text--content{
    margin-left: 5%;
}
.Ginformation_text--title {
    font-size: 2.0rem;
    font-weight: bold;
}
.Ginformation_text--userData{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.Ginformation_text--pay {
    height: 10%;
    font-size: 2.5rem;
    margin-top: 30px;
}
.content-name{
    margin: 40px auto 20px  auto;
    font-size: 1.5rem;
}
.Ginformation_dc-text {
    align-items: center;
    padding: 20px;
    border: 1px black solid;
    height: 200px;
    width: 80%;
}
.content{
    font-size: 1.0rem;
}


/* 위 | 오른쪽 | 아래 | 왼쪽 */
.Ginformation_dc {
    display: block;
    width: 70%;
    height: 30%;
    margin: 2% auto 0 auto;
}
.Ginformation_dc > p {
    font-weight: bold;
    margin: 0 0 10px 11%;
    font-size: 1.5rem;
}


.dc-userName{
    margin-left: 9%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20%;

}
.dc-userName h2{
    width: 60%;

}
.dc-userName input{
    width:80%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 5%;
    padding: 10px;
}

.dc-userName button{
    width: 60px;
    margin-left: 10px;
    height: 35px;
    margin-top: 20px;
}
/*댓글창 css*/
.user-comments{
    width: 90%;
    margin: 5% 0 0 10%;
    padding-bottom: 10%;
}
.user-comments h1{
    border-bottom: 2px black solid;
    font-size: 30px;
    padding: 10px;
}

.comment{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    border-bottom: 1px solid black;
}
.comment .initial{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 35px;
    background-color: #96B6C5 ;
    border-radius: 50%;
    font-size: 20px;

}
.comment h2{
    font-size: 18px;
}
.comment h2:last-of-type{
    width: 80%;
    margin-left: 10px;

}
.comment p {
    margin: 5px 0 0 5%;
    padding: 10px;
}


